/* * {
    margin: 0;
    padding: 0;
    padding: 0;box-sizing: border-box;
} */

.clear {
    clear: both;
}

.bs{
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

.container {
    width: 80%;
    margin: 0 auto;
}
#bai2 {
    width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #ff9933;
    text-align: center;
}

.hr_bai2 {
    width: 80%;
    background-color: #000;
}

#bai3_a {
    margin: 0 auto;
    width: 500px;
    border-radius: 5px;
}

#bai3_b {
    padding: 10px;
    background-color: #ff9933;
    margin: 50px;
    border-radius: 5px;
}

.text1 {
    text-align: left;
}

.text2 {
    text-align: center;
}

.text3 {
    text-align: right;
}

#bai4_a {
    width: 200px;
    margin: 0 auto;
}

#bai4_b {
    width: 30%;
    margin: 50px auto;
    background-color: #ff9933;
    border-radius: 5px;
}

.bai6_b > table {
    margin-top: 50px;
    margin-left: 20%;
    background-color: #ff9933;
    text-align: left;
}

#bai5_a {
    width: 40%;
    margin: 50px auto;
    padding: 0px 10px;
}

#bai5_b {
    width: 70%;
    margin: 50px auto;
    padding: 0px 10px;
}

.bai6_b {
    margin: 50px auto;
    position: relative;
}

.with_cell {
    height: 200px;
    width: 180px;
    position: absolute;
    bottom: 0px;
    left: 40%;
}

.table-width {
    height: 200px;
    width: 220px;
    position: absolute;
    bottom: 0px;
    left: 60%;
}

.bai6_c {
    background-color: #ffd078;
    width: 40%;
    margin: 50px auto;
}

.bai6_c table {
    margin: 50px auto;
    width: 90%;
    text-align: center;
}

.bai6_c th {
    background-color: #ffa0ff;
    width: inherit;
}
.bai6_c tr > td:first-child {
    background-color: #aaddff;
}

.bai6_c td {
    background-color: #ffddff;
}

caption {
    color: #d000d0;
    font-weight: 700;
}

.bai7 {
    width: 100%;
}

.bai7 li{
    list-style-type: none;
}

.bai7 ul{
    padding: 0;
}

.item_smile{
    margin: 10px;
}

.item_smile img {
    width: 10%;
}

.bai7 hr {
    width: 98%;
    background-color: #ccc;
}

.bai9{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.tb_a {
    display: inline-block;
}
.tb_b {
    display: inline-block;
}

.bai9 th {
    background-color: #90ffff;
}


.bai9 td {
    background-color: #ffff98;
}


.bai10{
    width: 50%;
    margin: 50px auto;
}

.bai10 summary + p {
    margin: 10px ;
}

.bai11 {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
}

.bai11 img {
    width: 60%;
}


.bai12{
    width: 40%;
    margin: 50px auto;
    padding: 10px;
}

.bai12 h4{
    margin: 0;
}

.btn-submit {
    display: block;
    margin: 15px 0;
}

.bai13 {
    width: 40%;
    padding: 0 5px;
    margin: 50px auto;

}


.bai13 p {
    margin-bottom: 0;
}